@charset "utf-8";

/* 
@import url("../fonts/Pretendard-1.3.8/web/variable/pretendardvariable.css");
@import url("../fonts/XEIcon-2.2.0/xeicon.css");
@import url("../fonts/XEIcon-2.2.0/xeicon_104.min.css"); */
@import url(bootstrap.css);

:root {

	--primary: #3B82F5;
	--secondary: #6c757d;
	--success: #6FCC31;
	--info: hsl(188, 78%, 41%);
	--warning: #ffc107;
	--danger: #dc3545;
	--light: hsl(210, 17%, 98%);
	--dark: #343a40;
	--teal: hsl(188 78% 46%);

	--dark0: hsl(222, 33%, 8%);
	--dark0-alpha95: hsl(222, 33%, 95%);
	--dark0-alpha90: hsl(222, 33%, 90%);
	--dark0-alpha80: hsl(222, 33%, 80%);
	--dark0-alpha70: hsl(222, 33%, 70%);
	--dark0-alpha01: hsl(222 33% 8% / .01);



	--dark1: hsl(228 65% 10%);
	--dark1-alpha90: hsl(228 65% 10% / .9);
	--dark1-alpha80: hsl(228 65% 10% / .8);
	--dark1-alpha20: hsl(228 65% 10% / .2);
	--dark1-alpha10: hsl(228 65% 10% / .1);
	--dark1-alpha01: hsl(228 65% 10% / .01);

	--darkfa: #fafafa;
	--darke: #eee;
	--darkd: #ddd;
	--darkc: hsl(0, 0%, 87%);
	--darkb: #bbb;
	--darka: hsl(0 0% 67%);
	/* #aaa */
	--dark9: hsl(0 0% 60%);
	--dark8: hsl(0 0% 54%);
	--dark7: hsl(0 0% 47%);
	--dark6: hsl(0 0% 40%);
	/* #666 */
	--dark5: hsl(0 0% 33%);
	--dark4: #444;
	--dark3: #333;
	--dark2: #222;

	--gray: hsl(208.2, 7.3%, 45.7%);
	--gray-dark: hsl(210, 10.3%, 22.7%);
	--gray-dark-alpha10: hsl(210 10.3% 22.7% / .1);
	--gray-dark-alpha40: hsl(210 10.3% 22.7% / .4);

	--bg-color: hsl(220, 23%, 97%);

	--blue: hsl(217, 90%, 60%);
	--blue-alpha90: hsl(217 90% 60% / .9);
	--blue-alpha80: hsl(217 90% 60% / .8);
	--blue-alpha70: hsl(217 90% 60% / .7);
	--blue-alpha60: hsl(217 90% 60% / .6);
	--blue-alpha50: hsl(217 90% 60% / .5);
	--blue-alpha40: hsl(217 90% 60% / .4);
	--blue-alpha30: hsl(217 90% 60% / .3);
	--blue-alpha10: hsl(217 90% 60% / .1);
	--blue-alpha05: hsl(217 90% 60% / .05);


	--green: hsl(162 73% 46%);
	/* hsl(96, 61%, 50%) */
	--green-alpha40: hsl(162 73% 46% / .4);
	--green-alpha30: hsl(162 73% 46% / .3);
	--green-alpha10: hsl(162 73% 46%/ .1);
	--green-alpha05: hsl(162 73% 46% / .05);

	--orange: hsl(39, 100%, 73%);
	--orange-alpha10: hsl(39 100% 73% / .1);

	--teal-blue: hsl(188 78% 46%);
	/* hsl(199, 100%, 60%) */
	--teal-blue-alpha40: hsl(188 78% 46% / .4);
	--teal-blue-alpha30: hsl(188 78% 46% / .3);
	--teal-blue-alpha20: hsl(188 78% 46% / .2);
	--teal-blue-alpha10: hsl(188 78% 46% / .1);
	--teal-blue-alpha05: hsl(188 78% 46% / .05);
	--teal-blue-alpha03: hsl(188 78% 46% / .03);
	--teal-blue-alpha02: hsl(188 78% 46% / .02);

	--purple: hsl(265, 100%, 60%);
	--purple-alpha40: hsl(265 100% 60% / .4);
	--purple-alpha30: hsl(265 100% 60% / .3);
	--purple-alpha10: hsl(265 100% 60% / .1);
	--purple-alpha05: hsl(265 100% 60% / .05);

	--pink: hsla(0, 100%, 65%, 1);
	/* 73 -> 65 */
	--pink-alpha40: hsla(0, 100%, 65%, .4);
	--pink-alpha10: hsla(0, 100%, 65%, .1);
	--pink-alpha05: hsla(0, 100%, 65%, .05);

	--red: hsl(0, 79%, 54%);
	--red-alpha10: hsl(0 79% 54% / .1);

	--bronze: #CC7429;

	--yellow: hsl(45, 100%, 60%);
	--yellow-alpha40: hsl(45 100% 60% / .4);
	--yellow-alpha30: hsl(45 100% 60% / .3);
	--yellow-alpha10: hsl(45 100% 60% / .1);
	--yellow-alpha05: hsl(45 100% 60% / .05);

	--tiffany: #2EE6CA;
	--black: #000000;

	--transparent: transparent;


	--text-dark0: hsl(218, 21%, 25%);
	--text-dark1: hsl(217, 13%, 34%);
	--text-dark2: hsl(217, 13%, 44%);
	--text-dark3: hsl(217, 13%, 54%);
	--text-dark4: hsl(217, 13%, 74%);


	--gradation-primary: linear-gradient(158deg, var(--blue) 0%, hsl(226, 97%, 59%) 100%);
	--gradation-teal: linear-gradient(158deg, var(--teal-blue) 0%, hsl(210, 100%, 50%) 100%);
	--gradation-yellow: linear-gradient(158deg, var(--yellow) 0%, hsl(37, 92%, 51%) 100%);
	--gradation-green: linear-gradient(158deg, var(--green) 0%, hsl(134, 67%, 48%) 100%);
	--gradation-purple: linear-gradient(158deg, var(--purple) 0%, hsl(265, 71%, 42%) 100%);



	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;


	--main-contents-width: 1900px;
	/* 1440px */


	--border-radius-8: 0;
	/* 8px */

	--line-color: hsl(210, 14%, 83.1%);
	--line-color2: hsl(210, 14%, 93.1%);

	--placeholder: var(--text-dark3);
	--placeholder-font-size: var(--font-size-small);

	--scrollbar-track: var(--dark0-alpha90);
	--scrollbar-thumb: var(--dark1-alpha20);

	--th-color: hsl(0, 0%, 98%);
	/* 일단 넣어봄 */


	--font-size-large: 20px;
	--font-size-normal1: 18px;
	--font-size-normal2: 16px;
	--font-size-small: 14px;
	--font-size-mini: 12px;

	--font-size-page-title: 24px;




	--font-family-sans-serif: 'Pretendard Variable', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'MGothic', 'AppleGothic',
		'돋움', Dotum, Helvetica, -apple-system, BlinkMacSystemFont,
		Roboto, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	line-height: 1.5;
	color: var(--text-dark0, #212529);
	background-color: var(--bg-color);

	min-height: 100%;

}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, fieldset,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* outline: none; */
}


.h-5px {height:5px !important;}
.h-8px {height:8px !important;}
.h-10px {height:10px !important;}
.h-15px {height:15px !important;}
.h-20px {height:20px !important;}
.h-25px {height:25px !important;}
.h-30px	{height:30px !important;}
.h-35px	{height:35px !important;}
.h-40px {height:40px !important;}
.h-45px {height:45px !important;}
.h-50px {height:50px !important;}
.h-55px {height:55px !important;}
.h-60px {height:60px !important;}
.h-65px {height:65px !important;}
.h-70px	{height:70px !important;}
.h-75px	{height:75px !important;}
.h-80px	{height:80px !important;}
.h-85px	{height:85px !important;}
.h-90px	{height:90px !important;}
.h-95px	{height:95px !important;}
.h-100px { height: 100px !important }
.h-200px { height: 200px !important }
.h-300px { height: 300px !important }
.h-400px { height: 400px !important }
.h-500px { height: 500px !important }
.h-600px { height: 600px !important }
.h-700px { height: 700px !important }
.h-800px { height: 800px !important }
.h-900px { height: 900px !important }

.min-height-100px { min-height: 100px; }
.min-height-200px { min-height: 200px; }
.min-height-300px { min-height: 300px; }
.min-height-400px { min-height: 400px; }
.min-height-500px { min-height: 500px; }
.min-height-600px { min-height: 600px; }
.min-height-700px { min-height: 700px; }
.min-height-800px { min-height: 800px; }
.min-height-900px { min-height: 900px; }
.min-height-1000px { min-height: 1000px; }

.max-height-100px { max-height: 100px; }
.max-height-200px { max-height: 200px; }
.max-height-300px { max-height: 300px; }
.max-height-400px { max-height: 400px; }
.max-height-500px { max-height: 500px; }
.max-height-600px { max-height: 600px; }
.max-height-700px { max-height: 700px; }
.max-height-800px { max-height: 800px; }
.max-height-900px { max-height: 900px; }
.max-height-1000px { max-height: 1000px; }

/* width size */
.w-5px {width:5px }
.w-8px {width:8px }
.w-10px {width:10px }
.w-15px {width:15px }
.w-20px {width:20px }
.w-25px {width:25px }
.w-30px	{width:30px }
.w-35px	{width:35px }
.w-40px {width:40px }
.w-45px {width:45px }
.w-50px {width:50px }
.w-55px {width:55px }
.w-60px {width:60px }
.w-65px {width:65px }
.w-70px	{width:70px }
.w-75px	{width:75px }
.w-80px	{width:80px }
.w-85px	{width:85px }
.w-90px	{width:90px }
.w-95px	{width:95px }
.w-100px {width:100px }
.w-150px {width:150px }
.w-200px {width:200px }
.w-250px {width:250px }
.w-300px {width:300px }
.w-350px {width:350px }
.w-400px {width:400px }


.w-5per {width:5% ;}
.w-8per {width:8% !}
.w-10per{width:10% ;}
.w-15per{width:15% ;}
.w-20per{width:20% ;}
.w-25per{width:25% ;}
.w-30per{width:30% ;}
.w-35per{width:35% ;}
.w-40per{width:40% ;}
.w-45per{width:45% ;}
.w-50per{width:50% ;}
.w-55per{width:55% ;}
.w-65per{width:65% ;}
.w-60per{width:60% ;}
.w-70per{width:70% ;}
.w-75per{width:75% ;}
.w-80per{width:80% ;}
.w-85per{width:85% ;}
.w-90per{width:90% ;}
.w-95per{width:95% ;}
.w-100per{width:100% ;}

.min-width-auto{ min-width: auto; }
.min-width-800px { min-width: 800px; }
.min-width-1000px { min-width: 1000px; }
.min-width-1200px { min-width: 1200px; }

.margin-left-auto{ margin-left: auto; }
.margin-left-1{ margin-left: .25rem; }
.margin-left-2{ margin-left: .5rem; }
.margin-left-3{ margin-left: 1rem; }

.margin-right-auto{ margin-right: auto; }
.margin-right-1{ margin-right: .25rem; }
.margin-right-2{ margin-right: .5rem; }
.margin-right-3{ margin-right: 1rem; }

.margin-top-auto{ margin-top: auto; }
.margin-top-1{ margin-top: .25rem; }
.margin-top-2{ margin-top: .5rem; }
.margin-top-3{ margin-top: 1rem; }

.margin-bottom-auto{ margin-bottom: auto; }
.margin-bottom-1{ margin-bottom: .25rem; }
.margin-bottom-2{ margin-bottom: .5rem; }
.margin-bottom-3{ margin-bottom: 1rem; }




.gap1 { gap: .25rem }
.gap2 { gap: .5rem }
.gap3 { gap: 1rem }

.rowGap1 { row-gap: .25rem }
.rowGap2 { row-gap: .5rem }
.rowGap3 { row-gap: 1rem }

.columnGap1 { column-gap: .25rem }
.columnGap2 { column-gap: .5rem }
.columnGap3 { column-gap: 1rem }

.fcBlue { color: var(--blue) }
.fcYellow { color: var(--yellow) }
.fcGreen { color: var(--green) }
.fcTeal { color: var(--teal-blue) }
.fcPurple { color: var(--purple) }
.fcRed { color: var(--red) }
.fcPink { color: var(--pink) }
.fcBlack { color: var(--text-dark0) }
.fcWhite { color: #fff }

.bcBlue {	--bcColor: var(--blue);	background-color: var(--blue);}
.bcTeal {	--bcColor: var(--teal-blue);	background-color: var(--teal-blue);}
.bcPurple {	--bcColor: var(--purple);	background-color: var(--purple);}
.bcYellow {	--bcColor: var(--yellow);	background-color: var(--yellow);}
.bcGreen {	--bcColor: var(--green);	background-color: var(--green);}
.bcLight, bcWhite {	--bcColor: var(--light);	background-color: var(--light);}
.bcBlack {	--bcColor:var(--gray-dark);	background-color: var(--gray-dark);}
.bcGray {	--bcColor:var(--dark8);	background-color: var(--dark8);}
.bcTransparent {	--bcColor: var(--transparent);	background-color: transparent;}

.bcProgress {	--bcColor: hsl(181 81% 44%);	background-color: hsl(181 81% 44%);}

.gradationBcBlue{ --gradation: var(--gradation-primary);	background-image: var(--gradation-primary);}
.gradationBcGreen{ --gradation: var(--gradation-green);	background-image: var(--gradation-green);}
.gradationBcYellow{ --gradation: var(--gradation-yellow);	background-image: var(--gradation-yellow);}
.gradationBcTeal{ --gradation: var(--gradation-teal);	background-image: var(--gradation-teal);}
.gradationBcPurple{ --gradation: var(--gradation-purple);	background-image: var(--gradation-purple);}





hr.dot{
	border-top-style: dotted;
	margin-top: .5rem;
	margin-bottom: .5rem;
}
hr.dashed{
	border-top-style: dashed;
	margin-top: .5rem;
	margin-bottom: .5rem;
}



/* 모달 사이즈 */

.modal-sm { width: 100%; max-width: 300px }
.modal-default {
	margin: .5rem;
	width: auto;
	max-width: 500px;
}
@media (min-width: 500px) {
	.modal-default {
		width: 100%;
		margin: 1.75rem auto;
	}
}

.modal-lg { /* width: 100%; */  max-width: 800px;  }
.modal-extra-lg {/* width: 100%; */  max-width: 1140px;}
.modal-full { /* width: 100%; */  	max-width: 100%; }

.modal-header { /*  hsl(210, 13.8%, 88.6%) */
	position: relative;
	padding: 1.5rem 1rem 0rem;
	border-bottom: 1px solid transparent;
}
.modal-title { color: var(--text-dark1);font-weight: 700; font-size: 1.5rem;   }
.modal-header::after{
	content: '';
	position: absolute;
	display: block;
	width: calc(100% - 2rem);
	height: 0px;
	left: 1rem;
	bottom: 0;
	background-color: hsl(210, 13.8%, 88.6%);
}
.modal-footer { padding-top: 0; border-top: 0px solid #dee2e6; }
@media(max-width:1024px){
	.modal{ padding-left: 8px;  padding-right: 8px !important; }
}


.hidden{ display: none !important; }

img {	font-size: .7em; }

a { color: var(--info, hsl(211.1, 100%, 50%));	cursor: pointer; }



/* display */
.mobile-elem{ display: none; }
@media(max-width: 1024px){
	.desktop-elem{ display: none !important; }
	.mobile-elem{ display: initial; }
}



/* 폼태그 */

input::-webkit-input-placeholder {color:var(--placeholder, #333) }
input::-moz-placeholder {color:var(--placeholder, #333)}
input::placeholder {color:var(--placeholder, #333)}
input:-webkit-input-placeholder {color:var(--placeholder, #333)}
input:-moz-placeholder {color:var(--placeholder, #333)}
input:placeholder {color:var(--placeholder, #333)}

input[type="text"]::-webkit-input-placeholder {color:var(--placeholder, #333)}
input[type="text"]::-moz-placeholder {color:var(--placeholder, #333) ;}
input[type="text"]::placeholder {color:var(--placeholder, #333) ;}
input[type="text"]:-webkit-input-placeholder {color:var(--placeholder, #333)}
input[type="text"]:-moz-placeholder {color:var(--placeholder, #333) ;}
input[type="text"]:placeholder {color:var(--placeholder, #333) ;}
input[type="password"]::-webkit-input-placeholder {color:var(--placeholder, #333)}
input[type="password"]::-moz-placeholder {color:var(--placeholder, #333) ;}
input[type="password"]::placeholder {color:var(--placeholder, #333) ;}
input[type="password"]:-webkit-input-placeholder {color:var(--placeholder, #333)}
input[type="password"]:-moz-placeholder {color:var(--placeholder, #333) ;}
input[type="password"]:placeholder {color:var(--placeholder, #333) ;}

textarea::-webkit-input-placeholder {color:var(--placeholder, #333)}
textarea::-moz-placeholder {color:var(--placeholder, #333)}
textarea::placeholder {color:var(--placeholder, #333)}
textarea:-webkit-input-placeholder {color:var(--placeholder, #333)}
textarea:-moz-placeholder {color:var(--placeholder, #333)}
textarea:placeholder {color:var(--placeholder, #333)}

::placeholder {	opacity: 1; font-size: var(--placeholder-font-size);  }



label {
	position: relative;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	/* -ms-flex-align: stretch;
	align-items: stretch; */
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 0;
}

label .title {
	color: var(--text-dark3);
	padding: 4px;
}

label:has([type="checkbox"]),
label:has([type="radio"]) {
	--w: 1.5em;
	--h: 1.5em;
	font-size: 1em;
	line-height: 150%;
	display: inline-flex;
	gap: .5rem;
	cursor: pointer;
	flex-wrap: wrap;
}

input[type="checkbox"],
input[type="radio"] {
	flex: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	flex: none;
	font-size: 1em;
	width: var(--w);
	height: var(--w);
	border: 0px solid;
	border-color: var(--line-color);
	border-radius: 100em;
	color: var(--text-dark4);
	cursor: pointer;
}

label:has([type="checkbox"])>*:not(input),
label:has([type="radio"])>*:not(input) {
	flex: 1;
}

input[type="checkbox"]:before,
input[type="radio"]:before {
	content: "";
	/*  */
	display: inline-flex;
	justify-content: center;
	/* align-items: center; 	 */
	width: 100%;
	height: 100%;
	/* padding-top: 2px;  */


	line-height: 1;

	color: currentColor;
	background-color: currentColor;
	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;

	-webkit-mask-image: url('../img/common/check-circle-broken.svg');
	mask-image: url('../img/common/check-circle-broken.svg');
}

input[data-ui-icon] {
	display: inline-flex;
	justify-content: center;
	color: var(--text-dark2);
	align-items: center;
}

input[data-ui-icon]:before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: 1em;
	color: currentColor;
	background-color: currentColor;
	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;

	-webkit-mask-image: url('../img/common/icon-missimg.svg');
	mask-image: url('../img/common/icon-missimg.svg');

}

input[data-ui-icon="O"]:before {
	-webkit-mask-image: url('../img/common/icon-svg-circle.svg');
	mask-image: url('../img/common/icon-svg-circle.svg');
}

input[data-ui-icon="Z"]:before {
	-webkit-mask-image: url('../img/common/icon-svg-triangle.svg');
	mask-image: url('../img/common/icon-svg-triangle.svg');
}

input[data-ui-icon="X"]:before {
	-webkit-mask-image: url('../img/common/icon-svg-x.svg');
	mask-image: url('../img/common/icon-svg-x.svg');
}



label:not([data-ui-action="toggle"]):has([type="checkbox"]):hover input,
label:has([type="radio"]):hover input {
	color: var(--dark1);
	border-color: var(--dark0-alpha90);
	background-color: var(--dark0-alpha90);
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
	color: #fff !important;
	border-color: var(--primary);
	background-color: var(--primary) !important;
}


/* 토글버튼 */
label[data-ui-action="toggle"] {
	--w: 0;
	--h: 0;
	font-size: 1em;
	line-height: 150%;
	display: inline-flex;
	gap: 0.5rem;
	cursor: pointer;
	flex-wrap: wrap;
}

label[data-ui-action="toggle"] input {
	--wtoggle: 3em;
	--htoggle: calc(1em * 1.5);
	width: var(--wtoggle);
	height: var(--htoggle);
	border-radius: 100em;
	background-color: var(--darkd);
	transition: all .2s;

	line-height: 1;
	border: 0;
}

label[data-ui-action="toggle"] input::before {
	content: '';
	-webkit-mask-image: none;
	mask-image: none;
	
	
	position: relative;
	display: inline-block;
	width: calc(var(--wtoggle) / 2);
	height: var(--htoggle);
	background-color: #fff;
	box-shadow: 0 1px 5px hsl(0 0% 0% / .2);
	border-radius: 100em;
	left: 0;
	top: 0;
	transition: all .2s;
}

label[data-ui-action="toggle"] input:checked {
	background-color: var(--primary);
}

label[data-ui-action="toggle"] input:checked:before {
	left: 100%;
	transform: translateX(-100%);
}
/* label[data-ui-action="toggle"] .guide{ position: static;} */


input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="text"],
textarea {
	flex: 1;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	border-radius: var(--border-radius-8);
	display: block;
	width: 100%;
	border: 1px solid;
	border-color: var(--line-color);

	font-size: 1em;
	color: var(--text-dark0);



	padding: .5em .75em .5em .75rem;
	font-size: 1em;
	font-weight: 400;
	color: hsl(210, 8.8%, 31.4%);
	background-color: hsl(0, 0%, 100%);
	background-clip: padding-box;

}

input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="text"] {
	border: 0;
	border-bottom: 1px solid;
	border-color: var(--line-color);
	border-radius: 0;
}

textarea {
	resize: none;
}



label.file {
	align-items: center;
	height: auto;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	color: hsl(0, 0%, 100%);
	background-color: var(--teal);
	border-radius: var(--border-radius-8);
	cursor: pointer;
	border: 1px solid transparent;
	padding: 0rem .75rem;
	min-height: 2.375rem;
}

label.file>*:not([class*="icon-"]) {
	flex: 1
}

label.file input[type="file"] {
	width: 0;
	height: 0;
	padding: 0;
	border: 0;
	position: absolute;
	opacity: 0;
}

label.file.btn {
	min-height: auto;
	justify-content: center;
	padding: .75rem .75rem;
}

label.file.btn:hover {
	color: #fff
}

label.select {
	/* padding: .375rem 1.75rem .375rem .75rem; */

}





label select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	position: relative;
	display: block;
	width: 100%;
	/* height: calc(1.5em + .75rem + 2px); */
	padding: .5em 1.75em .5em .75rem;
	font-size: 1em;
	font-weight: 400;
	color: hsl(210, 8.8%, 31.4%);
	background-color: hsl(0, 0%, 100%);
	background-clip: padding-box;
	border: 1px solid var(--line-color);
	border-radius: var(--border-radius-8);

	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	background-image: url(../img/common/chevron-down.svg);
	background-position-x: calc(100% - .25em);
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: 1em;
}


/* 임시 */
label select {
	border: 0;
	border-bottom: 1px solid var(--line-color);
	border-radius: 0;
}

label.type2 select {
	padding-left: 0;
	border-color: transparent;
	border-radius: 0;
	border-bottom: 1px solid var(--line-color);
}

label.number.type2 input,
label.password.type2 input,
label.email.type2 input,
label.search.type2 input,
label.inputtext.type2 input {
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid var(--line-color);
}



label.calendar {
	width: 10em;
}

/* label.calendar .unitText{
	position: absolute;
	display: inline-flex;
	align-items: center;
	height: calc(100% - 4px);
	font-size: 1.25em;
	bottom: 2px;
	color: var(--text-dark3);
	padding-left: .5em;
	background: linear-gradient( to right, hsl(0 100% 100% / .8), hsl(0 100% 100% / 1) );
}
label.calendar .unitText.back,
label.calendar .unitText.last{ right: 4px; }
label.calendar .unitText.back + input,
label.calendar .unitText.last + input{ padding-right: 1.5em }
label.calendar .unitText.front,
label.calendar .unitText.first{ 
	left: 4px; 
	background: linear-gradient( to left, hsl(0 100% 100% / .8), hsl(0 100% 100% / 1) ); 
}
label.calendar .unitText.front + input,
label.calendar .unitText.first + input{ padding-left: 1.5em; text-align: right; } */

label.calendar input {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	border-radius: var(--border-radius-8);
	width: 100%;
	border: 1px solid;
	border-color: var(--line-color);
	padding: .5rem .75rem;

	display: block;
	/* height: calc(1.5em + .75rem + 2px); */
	pointer-events: none;

}

label.calendar+.calendar {
	margin-left: 1rem;
	position: relative;
}

label.calendar+.calendar::before {
	content: '-';
	position: absolute;
	right: calc(100% + .5rem);
	top: 50%;
	transform: translate(50%, -50%);
}

@media(max-width: 441px) {
	label.calendar {
		width: 100%;
	}

	label.calendar+.calendar {
		margin-left: 0;
		margin-top: .5rem;
		position: relative;
	}

	label.calendar+.calendar::before {
		display: none;
	}
}

label.inputtext+.btn,
label.inputsearch+.btn,
label.email+.btn,
label.file+.btn:not(.file),
label.password+.btn,
label.number+.btn {
	padding-top: 0;
	padding-bottom: 0
}


label input:focus-visible,
label select:focus-visible,
label textarea:focus-visible {
	outline-style: auto;
	outline-width: 1px;
	outline-offset: 0;
	outline-color: var(--blue);
}


label .unitText {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: var(--text-dark3);
	padding: 0 .5em;
	z-index: 1;
	background-color: #fff;
}

label .unitText+input {
	position: relative;
	flex: 1;
}

label .unitText+input:focus-visible {
	outline: none
}

label .unitText.back,
label .unitText.last {
	transform: translateX(-100%);
	left: 100%;
	margin-left: -2px;
	border: 1px solid var(--line-color);
	border-left: 0;
	border-top-right-radius: var(--border-radius-8);
	border-bottom-right-radius: var(--border-radius-8);
}

label .unitText.back+input,
label .unitText.last+input {
	left: -100%;
	transform: translateX(100%);
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

label .unitText.front,
label .unitText.first {
	margin-right: -2px;
	border: 1px solid var(--line-color);
	border-right: 0;
	border-top-left-radius: var(--border-radius-8);
	border-bottom-left-radius: var(--border-radius-8);
}

label .unitText.front+input,
label .unitText.first+input {
	text-align: right;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

label.type2 .unitText.last,
label.type2 .unitText.first,
label.type2 .unitText.back,
label.type2 .unitText.front {
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid var(--line-color);
}

/* Chrome, Safari, Edge, Opera */
label.number input::-webkit-outer-spin-button,
label.number input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

/* Firefox */
label.number input[type=number] {
	-moz-appearance: textfield;
}

/* 취소버튼.. */
label.search input::-webkit-search-cancel-button {
	display: block;
	color: var(--text-dark3);
}


/* 폰트크기 조절 */
.fs80 { font-size: 80% !important;}
.fs90 { font-size: 90% !important;}
.fs100 { font-size: 100% !important;}
.fs110 { font-size: 110% !important;}
.fs120 { font-size: 120% !important;}
.fs130 { font-size: 130% !important;}
.fs140 { font-size: 140% !important;}
.fs150 { font-size: 150% !important;}
.fs160 { font-size: 160% !important;}
.fs170 { font-size: 170% !important;}
.fs180 { font-size: 180% !important;}
.fs190 { font-size: 190% !important;}

/* 아이콘 */
[class*="icon-svg-"] {
	display: inline-flex;
	align-items: center;
	font-size: 1em;
	color: currentColor;
}

[class*="icon-svg-"].small {
	font-size: .875em;
	font-weight: 400;
}

[class*="icon-svg-"]::before {
	display: block;
}

.btn {
	display: inline-flex;
	font-weight: 400;
	color: var(--text-dark2);
	justify-content: center;
	/* text-align: center; */
	gap: .25rem;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: var(--dark0-alpha95);
	/* hsl(204 16% 87%) */
	border: 1px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	padding: .5rem .75rem;
	/* .375rem .75rem */
	font-size: 1rem;
	line-height: 1;
	border-radius: var(--border-radius-8);
	align-items: center;
	min-height: 1em;
	word-break: keep-all;
	min-width: 2.625em;
	cursor: pointer;
}

.btn.txt {
	padding: 0;
	background-color: transparent;
}


.btn.black { color: var(--light); background-color: var(--gray-dark); }
.btn.gray {	color: hsl(222, 33%, 100%); background-color: var(--gray); }
.btn.blue {	color: hsl(217, 90%, 100%);	background-color: var(--blue);}
.btn.teal {	color: hsl(199, 100%, 100%);	background-color: var(--teal-blue);}
.btn.green {color: hsl(96, 61%, 100%);	background-color: var(--green);}
.btn.purple {color: hsl(265, 100%, 100%);	background-color: var(--purple);}
.btn.yellow {color: hsl(45, 100%, 100%);	background-color: var(--yellow);}
.btn.pink {color: hsl(45, 100%, 100%);	background-color: var(--pink);}

.btn.icon {	background-color: transparent;}
.btn.icon.black {	color: var(--gray-dark);}

.btn.icon.gray {color: var(--dark0);}
.btn.icon.blue {color: var(--blue);}
.btn.icon.teal {color: var(--blue);}
.btn.icon.green {color: var(--green);}
.btn.icon.purple {color: var(--purple);}
.btn.icon.yellow {	color: var(--yellow);}
.btn.icon.pink {color: var(--pink);}

.btn.txt:hover {text-decoration: none}

.btn.icon:hover {	background-color: var(--dark0-alpha95);}

.btn.icon.disabled:hover,
.btn.icon:disabled:hover {	background-color: transparent;}

.btn:disabled, .btn.disabled { color: hsl(217 13% 44% / .5) !important;}
.btn.black:disabled, .btn.black.disabled {  background-color: var(--gray-dark); }
.btn.gray:disabled, .btn.gray.disabled { background-color: var(--gray-dark); }
.btn.blue:disabled, .btn.blue.disabled { background-color: var(--blue-alpha40);}
.btn.teal:disabled, .btn.teal.disabled { background-color: var(--teal-alpha40); }
.btn.green:disabled, .btn.green.disabled { background-color: var(--green-alpha40); }
.btn.purple:disabled, .btn.purple.disabled { background-color: var(--purple-alpha40); }
.btn.yellow:disabled, .btn.yellow.disabled { background-color: var(--yellow-alpha40);;}


.btn.gray {	color: hsl(222, 33%, 100%); background-color: var(--gray); }
.btn.blue {	color: hsl(217, 90%, 100%);	background-color: var(--blue);}
.btn.teal {	color: hsl(199, 100%, 100%);	background-color: var(--teal-blue);}
.btn.green {color: hsl(96, 61%, 100%);	background-color: var(--green);}
.btn.purple {color: hsl(265, 100%, 100%);	background-color: var(--purple);}
.btn.yellow {color: hsl(45, 100%, 100%);	background-color: var(--yellow);}

.btn.small{
	padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.btn.iconDropdown{ background-color: transparent; }
.btn.iconDropdown.dropdown-toggle::after { display: none; }
.btn.iconDropdown + .dropdown-menu{ 
	padding: 0; 
	border: 0;
	border-radius: var(--border-radius-8);
	box-shadow: 0 .5rem 30px hsl(0 10% 30% / .2);
	min-width: 4rem;
  overflow: hidden;

}
.btn.iconDropdown + .dropdown-menu .dropdown-item{
	text-align: center;
	padding: .725rem .725rem;
}
.btn.iconDropdown + .dropdown-menu .dropdown-item.active, 
.btn.iconDropdown + .dropdown-menu .dropdown-item:active { background-color: var(--teal-blue);   }


/* 라벨 */
.label {
	display: inline-flex;
	align-items: center;
	color: var(--text-dark3);
	background-color: var(--dark0-alpha95);
	font-size: 14px;
	font-weight: 500;
	padding: 2px .75em;
	border-radius: var(--border-radius-8);
}

.label.black {
	color: hsl(0, 0%, 100%);
	background-color: hsl(210 10.3% 22.7% / .7);
}

.label.gray {
	color: var(--text-dark2);
	background-color: var(--dark0-alpha95);
}

.label.blue {
	color: var(--blue);
	background-color: var(--blue-alpha10);
}

.label.teal {
	color: var(--teal-blue);
	background-color: var(--teal-blue-alpha10);
}

.label.green {
	color: var(--green);
	background-color: var(--green-alpha10);
}

.label.purple {
	color: var(--purple);
	background-color: var(--purple-alpha10);
}

.label.yellow {
	color: var(--yellow);
	background-color: var(--yellow-alpha10);
}

.label.pink {
	color: var(--pink);
	background-color: var(--pink-alpha10);
}

.label.red {
	color: var(--red);
	background-color: var(--red-alpha10);
}

.label.orange {
	color: var(--orange);
	background-color: var(--orange-alpha10);
}


/* 콘텐츠 없음	 */
.noNontents {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: var(--border-radius-8);
	padding: 1rem;
	background-color: var(--bg-color);
}


.term {
	display: inline-flex;
	gap: .25rem;
	align-items: center;
}

.term .inputtext {
	width: 10em
}

.term .select {
	flex: none;
}

.term+.term::before {
	display: inline-flex;
	align-items: center;
	font-size: 1.25em;
	color: var(--text-dark4);
	font-family: 'xeicon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* margin-left: .25rem; */

	content: "\e91b";
}



/* 페이지네이션 */
.pagination.type2 {
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0;
	margin-bottom: 0;
	gap: .25rem;
	justify-content: center;
}

.pagination.type2 .page-link {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.5em;
	height: 2.5em;
	overflow: hidden;
	padding: .5rem 4px;
	margin-left: 0;
	line-height: 1;
	color: var(--dark4);
	background-color: transparent;
	border: 0px solid #dee2e6;
	border-radius: var(--border-radius-8);
}

.pagination.type2 .page-link:hover {
	z-index: 2;
	color: var(--dark1);
	text-decoration: none;
	background-color: var(--dark0-alpha90);
	border-color: transparent
}

.pagination.type2 .page-link:focus {
	box-shadow: none
}

.pagination.type2 .page-item:first-child .page-link {
	border-top-left-radius: var(--border-radius-8);
	border-bottom-left-radius: var(--border-radius-8);
}

.pagination.type2 .page-item:last-child .page-link {
	border-top-right-radius: var(--border-radius-8);
	border-bottom-right-radius: var(--border-radius-8);
}

.pagination.type2 .page-item.active .page-link {
	color: #fff;
	background-color: var(--blue);
	border-color: transparent
}

.pagination.type2 .page-item.disabled .page-link {
	color: transparent;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6;
	opacity: .6;

}

.pagination.type2 .page-item.first .page-link,
.pagination.type2 .page-item.last .page-link,
.pagination.type2 .page-item.prev .page-link,
.pagination.type2 .page-item.next .page-link {
	flex-wrap: wrap;
	color: transparent;

	font-family: 'xeicon' !important;
	display: inline-flex;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;



}

.pagination.type2 .page-item.prev .page-link::before,
.pagination.type2 .page-item.next .page-link::before {
	content: '';
	display: inline-flex;
	align-items: center;
	height: 100%;
	font-family: 'xeicon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: var(--text-dark3);
}

.pagination.type2 .page-item.prev .page-link::before {
	content: "\e93c";
}

.pagination.type2 .page-item.next .page-link::before {
	content: "\e93f";
}

.pagination.type2 .page-item.first .page-link::before,
.pagination.type2 .page-item.last .page-link::before {

	content: '';
	display: block;
	width: 100%;
	height: 100%;
	font-size: 1em;
	color: var(--text-dark3);
	background-color: var(--text-dark3);
	-webkit-mask-size: 1.1em;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: 1.1em;
	mask-position-x: 50%;
	mask-position-y: 50%;
	mask-repeat: no-repeat;
	--maskImage: url('../img/common/icon-svg-x.svg');
	-webkit-mask-image: var(--maskImage);
	mask-image: var(--maskImage);

}

.pagination.type2 .page-item.first .page-link::before {
	--maskImage: url('../img/common/chevron-left-double.svg');
}

.pagination.type2 .page-item.last .page-link::before {
	--maskImage: url('../img/common/chevron-right-double.svg');
}




/* 프로그레스 스타일 */
.progress.starType {
	--star-length: 1;
	--n: 1;
	background-color: transparent;
	display: inline-flex;
	height: 1em;
	font-size: 1em;
}
.progress.starType .progress-bar[aria-valuemax="2"]{ --n:2 }
.progress.starType .progress-bar[aria-valuemax="3"]{ --n:3 }
.progress.starType .progress-bar[aria-valuemax="4"]{ --n:4 }
.progress.starType .progress-bar[aria-valuemax="5"]{ --n:5 }
.progress.starType .progress-bar[aria-valuemax="6"]{ --n:6 }
.progress.starType .progress-bar[aria-valuemax="7"]{ --n:7 }
.progress.starType .progress-bar[aria-valuemax="8"]{ --n:8 }
.progress.starType .progress-bar[aria-valuemax="9"]{ --n:9 }
.progress.starType .progress-bar[aria-valuemax="10"]{ --n:10 }

.progress.starType .progress-bar {
	position: relative;
	width: calc(var(--star-length) * var(--n) * 1em);
	background-color: transparent;
}

.progress.starType .progress-bar::before,
.progress.starType .progress-bar::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;

	display: inline-block;
	height: 1em;
	font-size: 1em;

	-webkit-mask-size: 1em;
	-webkit-mask-position-x: 0;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: repeat;
	mask-size: 1em;
	mask-position-x: 0;
	mask-position-y: 50%;
	mask-repeat: repeat;

	--maskImage: url('../img/common/icon-svg-star.svg');
	-webkit-mask-image: var(--maskImage);
	mask-image: var(--maskImage);
}

.progress.starType .progress-bar::before {
	width: 100%;
	background-color: var(--dark1-alpha10);
	text-align: left;
}

.progress.starType .progress-bar::after {
	width: calc(var(--value) * 100 / var(--n) * 1%);
	background-color: var(--black);
}

.progress.starType[class*="bc"] .progress-bar::after {
	background-color: var(--bcColor);
}



.progress.barType2 {
	height: 4px;
	background-color: transparent;
}

.progress.barType2[class*="bc"] {
	background-color: var(--bcColor, HSL(217.1, 90.3%, 59.6%));
}

.progress.barType2 .progress-bar {
	display: block;
	width: 100%;
	background-color: hsl(210, 15.8%, 92.5%);
}

.progress.barType2 .progress-bar:before {
	content: '';
	display: block;
	width: calc(var(--value) * 1%);
	background-color: var(--bcColor, HSL(217.1, 90.3%, 59.6%));
	height: 100%;
	animation: barType2progress .5s 1 forwards;
}


.progress.barType3 {
	height: 4px;
	background-color: transparent;
	overflow: visible;
	flex: none
}

.progress.barType3[class*="bc"] {
	background-color: var(--bcColor, HSL(217.1, 90.3%, 59.6%));
}

.progress.barType3 .progress-bar {
	--x: calc(var(--value) * 1%);
	--y: .65rem;
	--transformY: calc(var(--y) / 2 * -1);
	position: relative;
	display: block;
	width: 100%;
	background-color: hsl(210, 15.8%, 92.5%);
	border-radius: var(--border-radius-8);
	overflow: visible;
}

.progress.barType3 .progress-bar:before {
	content: '';
	display: block;
	width: calc(var(--value) * 1%);
	background-color: var(--bcColor, HSL(217.1, 90.3%, 59.6%));
	height: calc(100% + var(--y));
	transform: translateY(var(--transformY));
	border-radius: var(--border-radius-8);
	animation: barType2progress .5s 1 forwards;
}

.progress.barType3 .progress-bar::after {
	content: attr(aria-valuenow);
	position: absolute;
	display: flex;
	align-items: center;
	left: calc(var(--value) * 1%);
	top: 50%;
	transform: translate(-100%, -50%);
	font-size: 13px;
	font-weight: 600;
	line-height: 1;
	background-color: var(--bcColor, HSL(217.1, 90.3%, 59.6%));
	border-radius: 100em;
	min-height: calc(100% + var(--y));
	padding-left: 2px;
	padding-right: 3px;
	letter-spacing: -1px;
	animation: barType3progress .5s 1 forwards;
}

/* .progress.barType3 .progress-bar[aria-valuenow="0"]::before{
	width : 1rem;
	background-color: var(--text-dark4);
	animation: none;
}
.progress.barType3[class*="bc"] .progress-bar::after {
	background-color: var(--bcColor, HSL(217.1, 90.3%, 59.6%));
} */
.progress.barType3 .progress-bar[aria-valuenow="0"]::after {
	background-color: var(--text-dark4);
	padding: 2px 4px;
	transform: translateY(-50%) translateX(0%);
}


.progress.circleType2 {
	--pgPercentage: calc(var(--value) * 1%);
	--width: 3em;
	font-size: 28px;
	position: relative;
	display: inline-flex;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;
	gap: .25rem;
	width: var(--width);
	height: var(--width);
	font-style: normal;
	background-color: transparent;
}

.progress.circleType2 .progress-bar {
	background-color: transparent;

	--size: 12rem;
	--lineColor: var(--bcColor);
	--bg: hsl(210, 15.8%, 92.5%);
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: var(--width);
	z-index: 0;
}

.progress.circleType2 .progress-bar::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100em;
	left: 0;
	top: 0;
	display: inline-grid;
	place-items: center;
	background: radial-gradient(hsl(0, 0%, 100%) 0%, transparent 0 99.9%, hsl(0, 0%, 100%) 0), conic-gradient(var(--lineColor) var(--pgPercentage), var(--bg) 0);
	font-size: 1em;
	z-index: -2;

	/* animation: growProgressBar 1s 1 forwards; */

}

.progress.circleType2 .progress-bar::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100em;
	left: 0;
	top: 0;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	background-color: hsl(210, 40%, 98%);
}

.progress.circleType2 .progress-bar[aria-valuenow="0"]::after {
	color: var(--text-dark4);
}

/* animation */
@keyframes barType2progress {
	0% {
		width: 0px
	}

	100% {
		width: calc(var(--value) * 1%);
	}
}

@keyframes barType3progress {
	0% {
		left: 0px
	}

	100% {
		left: calc(var(--value) * 1%);
	}
}

/* @keyframes growProgressBar {
	0%{ --pgPercentage: 0; }
	100% { --pgPercentage: calc( var(--value) * 1% ) ; }
} */







/* 별점 */
.star-rating {
	display: inline-flex;
	flex-direction: row-reverse;
	font-size: 1.5em;
	justify-content: space-around;
	padding: 0 .2em;
	text-align: center;
	border-radius: var(--border-radius-8);
	background-color: #fff;
	align-items: center;
	gap: .5rem;
}

.star-rating input {
	display: none;
}

.star-rating label {
	color: var(--dark1-alpha10);
	cursor: pointer;
	margin-bottom: 0;
}

.star-rating :checked~label {
	color: #f90;
}

.star-rating label:hover,
.star-rating label:hover~label {
	color: #fc0;
}







/* 검색 */
.search {	display: inline-flex;	gap: .25rem; min-width: 12.5rem; }
.search label.inputsearch{ flex: 1; }
.search label.inputsearch+.btn {	padding: 0 .75rem;}
.search .btn:hover {	filter: brightness(90%);}

.searchType1 { display: inline-flex; flex-wrap: wrap; gap: .5rem }
.searchType1 .search {	display: inline-flex;}
.searchType1 .search .btn {}
@media(max-width: 768px){
	.searchType1{ flex-direction: column; }
}


.searchType2 {	display: inline-flex;	gap: 0}
.searchType2 .search {	position: relative;	gap: 0;}
.searchType2 .search input[type="search"] {
	border-radius: 0;
	border-color: transparent;
	border-bottom-color: var(--line-color);
}
.searchType2 .search .btn {
	position: absolute;
	right: 0;
top: 50%;
    transform: translateY(-50%);
	background-color: transparent;
}
.searchType2 .search .btn [class*="xi-"] {	font-size: 1.5em}
.searchType2 .search .btn:hover {	color: var(--blue)}



/* 파일업로드 */
.fileHandleType1{
	position: relative;
	display: inline-flex;
	gap: .25rem;
}
.fileHandleType1 label{ flex:1 }
.fileHandleType1 label.file{
	position: absolute;
	left:0; top:0;
	width: 100%;
	height: 100%;
	z-index: 2;
	cursor: pointer;
	background-color: transparent;
}
.fileHandleType1 label.file input{ width: 0; height: 0; overflow: hidden; padding: 0; border: 0; }
.fileHandleType1 .btn{ padding: 0 .75rem !important } /* */
.fileHandleType1 .btn.delete{
	position: absolute;
	top: 50%;
	color: var(--pink);
	z-index: 5;
	right: 5.5em;
	padding: 4px .75rem;
	transform: translateY(-50%);
	background-color: #fff;
}
.fileHandleType1 .btn.delete:hover{ background-color:hsl(204 16% 87%) }
.fileHandleType1 .btn.find[aria-label] + .btn.delete{ right: 3.5em; }
[class*="icon-svg"]{ color: currentColor; }
[class*="icon-svg"]::before{ 
	content: '';

	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: 1em;
	color: currentColor;
	background-color: currentColor;
	-webkit-mask-size: contain;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: calc(50% - 0px);
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-position-x: 50%;
	mask-position-y: 50%;

	mask-repeat: no-repeat;
	--maskImage : url('../img/basic/icon-svg-brackets-x.svg');
	-webkit-mask-image: var(--maskImage);
	mask-image: var(--maskImage);

}
.icon-svg-file-search::before{ --maskImage : url('../img/basic/icon-svg-file-search.svg'); }
.icon-svg-triangle::before{ --maskImage : url('../img/basic/icon-svg-triangle.svg'); }
.icon-svg-circle::before{ --maskImage :  url('../img/basic/icon-svg-circle.svg'); }
.icon-svg-x::before{ --maskImage : url('../img/basic/icon-svg-x.svg'); }
.icon-svg-switch-vertical-02::before{ --maskImage : url('../img/basic/icon-svg-switch-vertical-02.svg'); }






label.upload {}

/* 첨부파일 글자 있는 버튼 + 업로드 파일 목록 */
.upload.type1 {
	position: relative;
	color: var(--text-dark3);
	/* overflow: hidden; */

	display: inline-flex;

	flex-direction: row-reverse;


	border: 1px solid;
	border-color: transparent;
	border-radius: var(--border-radius-8);

	flex-wrap: wrap;
	background-color: hsl(0 0% 92%);


	padding-top: 1rem;
}

.upload.type1 .guide {
	/* position: absolute; */
	position: static;
	left: .75em;
	top: calc(50% - (1em * 1));
	transition: all .2s;
}

.upload.type1:has(.fileList>*:nth-of-type(1)) .guide {
	top: calc(0% - (1em * 1));
	left: 0;
	color: green;
}

.upload.type1:has([type="file"]),
.upload.type1:has(.btn) {
	/* border-color: var(--line-color); */
}

.upload.type1 .btn:has([type="file"]) {
	flex: none;
	align-self: baseline;
	background-color: green;
	width: 2em;
	padding: 0;
	border: 0;
	border-radius: 100em;
	color: #fff;
	height: 2em;
	min-width: auto;
	margin: 4px;
}

/* .upload.type1 .btn:has([type="file"])>*:not(input) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

.upload.type1 .btn[data-ui-placeholder]::after {
	content: attr(data-ui-placeholder);
	position: absolute;
	left: calc(100% + 1em);
	white-space: nowrap;
	color: var(--dark9);
	font-size: var(--font-size-small);

	display: none;
}

.upload.type1 input[type="file"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	width: 100%;
	height: 40px;
	font-size: 1em;
	opacity: 0;
	padding: 0em .75em;
	line-height: 0;
	border: 0;
}

.upload.type1 .fileList {
	position: relative;
	z-index: 1;
	flex: 1;
	list-style: none;
	display: block;
	padding: 4px 0;
	margin: 0;

}

.upload.type1 .fileList .item {
	display: flex;
	flex-direction: row;
	background-color: hsl(0 0% 97%);
	padding: 2px;
}

.upload.type1 .fileList .item+.item {
	margin-top: 4px;
}

.upload.type1 .fileList .item img {
	flex: none;
	display: inline-block;
	width: 3em;
	height: 3em;
}

.upload.type1 .fileList .item .figcaption {
	flex: 1;
	display: flex;
	padding-top: 4px;
}

.upload.type1 .fileList .title {
	word-break: break-all;
	line-height: 1.3;
}

.upload.type1 .fileList .item .option {
	flex: 1
}

.upload.type1 .fileList .item .option>* {
	display: inline;
	padding-right: 4px
}

.upload.type1 .fileList .item .ctrl {
	flex: none;
	font-size: 12px;
}

.upload.type1 .fileList .item .btn {
	font-size: 1em;
	background-color: var(--dark0);
	color: hsl(0, 0%, 100%);
	min-width: 1.5em;
	min-height: 1.5em;
	padding: 0 4px;
	border-radius: 100em;

}





.upload.type2 {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 5em;
	height: 8em;
	color: var(--text-dark3);
	background-color: var(--bg-color);
	border-radius: var(--border-radius-8);
	border: 1px dashed;
	border-color: transparent;
	overflow: hidden;
}

.upload.type2:has([type="file"]),
.upload.type2:has(.btn) {
	border-color: var(--line-color);
}

.upload.type2>.btn {
	width: 100%;
	height: 100%;
	background-color: transparent;
	box-sizing: border-box;
	flex-direction: column;
}

.upload.type2>.btn::after {
	content: attr(data-ui-placeholder);
	display: block;
	margin-top: 12px;
	font-size: 12px;
}

.upload.type2 input[type="file"] {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.upload.type2 .item {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.upload.type2 .item img {
	max-width: 100%
}

.upload.type2 .item .option {
	display: none
}

.upload.type2 .item .ctrl {
	position: absolute;
	font-size: 12px;
	right: 1em;
	top: 1em;
}

.upload.type2 .item .ctrl .btn {
	font-size: 1em;
	background-color: var(--dark0);
	color: hsl(0, 0%, 100%);
	min-width: 1.5em;
	min-height: 1.5em;
	padding: 0 4px;
	border-radius: 100em;
}



.upload.type3 {
	position: relative;
	color: var(--text-dark3);
	overflow: hidden;

	display: inline-flex;
	border: 1px dashed;
	border-color: transparent;
	border-radius: var(--border-radius-8);

	z-index: 1;
	flex: 1;
	list-style: none;

	padding: 4px 0px;

	gap: 4px;
	flex-wrap: wrap;

}

.upload.type3:has([type="file"]),
.upload.type3:has(.btn) {
	border-color: var(--line-color);
	padding: 4px 4px;
}

.upload.type3 .btn:has([type="file"]) {
	flex: none;
	align-self: baseline;
	background-color: transparent;
	width: 3em;
	height: 3em;
	border-radius: var(--border-radius-8);
	border: 1px dashed var(--line-color);
	padding: 0;
}

.upload.type3 .btn:has([type="file"])>*:not(input) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.upload.type3 .btn[data-ui-placeholder]::after {
	content: attr(data-ui-placeholder);
	position: absolute;
	left: calc(100% + 1em);
	white-space: nowrap;
	color: var(--dark9);
	display: none;
}

.upload.type3 input[type="file"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 1em;
	opacity: 0;
}

.upload.type3 {}

.upload.type3 .item {
	min-width: 3em;
	max-width: 3em;
	height: 3em;
	position: relative;
	display: inline-block;
	background-color: hsl(0 0% 97%);
}

.upload.type3 .item+.item {}

.upload.type3 .item img {
	flex: none;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.upload.type3 .item .figcaption {
	flex: 1;
	display: flex;
	padding-top: 4px;
}

.upload.type3 .item .option {
	flex: 1;
	display: none
}

.upload.type3 .item .option>* {
	display: inline;
	padding-right: 4px
}

.upload.type3 .title {
	word-break: break-all;
	line-height: 1.3;
}

.upload.type3 .item .ctrl {
	flex: none;
	position: absolute;
	right: 2px;
	top: 2px;
	font-size: 12px;
}

.upload.type3 .item .btn {
	font-size: 1em;
	background-color: var(--dark0);
	color: hsl(0, 0%, 100%);
	min-width: 1.5em;
	min-height: 1.5em;
	padding: 0 4px;
	border-radius: 100em;

}





main.common {}



.itemList {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.itemList>.item {
	border-radius: 0;
	/* var(--border-radius-8) */
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: .5rem;
	padding: 1rem;

	/* box-shadow: 0 0px 30px hsl(0 0% 0% / .06); */

	overflow: hidden;
}

.itemList>.item header {}

.itemList>.item .cnts {
	flex: 1;
}

.itemList>.item .img {
	min-width: 10em;
	min-height: 5em;
	width: 100%;
	max-width: 8em;
	background-image: url(../img/common/no-contents.svg);
	background-size: cover;
	background-position: center;

	border-radius: 0;
	/* var(--border-radius-8) */
	/* overflow: hidden; */
}

.itemList>.item .img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.itemList>.item .img .figcaption {}

.itemList>.item .img .option {}

.itemList>.item .img .upload.type2 {
	width: 100%;
	height: 100%;
}

.itemList>.item .cnts {
	flex: 1;
	padding: 4px 0;
}



/* label:focus-within{
	background-color: #bbb;
} */
.itemList>.item .guide {
	font-weight: 600;
	color: var(--dark9);
	font-size: var(--font-size-mini);

	width: 100%;
}

/* .itemList>.item label:not([data-ui-action='toggle']) .guide {
	position: absolute;
	padding: 2px 4px;
	font-weight: 600;
	color: var(--dark9);
	font-size: var(--font-size-normal1);
	background-color: #fff;
	left: 0em;
	transition: all .2s;
}
.itemList>.item label:not([data-ui-action='toggle']):focus-within .guide {
	font-size: var(--font-size-mini);
	color: green;
	transform: translateY(-40%);
} */

/* .itemList > .item label:has(input:invalid) .guide{ font-size: var(--font-size-normal1); color: red; } */
/* .itemList>.item label:has(input[type="text"]:valid):not([data-ui-action='toggle']) .guide {
	font-size: var(--font-size-mini);
	color: green;
	transform: translateY(-40%);
} */






.com987 {
	width: 100%;
	max-width: calc(1280px + 16px + 16px);
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.com987>* {
	position: relative;
	min-height: 20rem;
	background-color: var(--dark0-alpha01);
}

.com987 img {
	max-width: 100%;
}

.com987 header {
	display: flex;
}

.com987 .contents {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--dark0-alpha01);
}








/* row */
.row{ margin-right: -.5rem; margin-left: -.5rem; }
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9{
	padding-right: .5rem; padding-left: .5rem;
}


@media( max-width: 1024px ){
	.row[data-tablet-columns="1"],
	.row[data-tablet-columns="2"],
	.row[data-tablet-columns="3"],
	.row[data-tablet-columns="4"],
	.row[data-tablet-columns="5"],
	.row[data-tablet-columns="6"],
	.row[data-tablet-columns="7"],
	.row[data-tablet-columns="8"],
	.row[data-tablet-columns="9"],
	.row[data-tablet-columns="10"],
	.row[data-tablet-columns="11"],
	.row[data-tablet-columns="12"]{ flex-wrap: wrap; 	}	
	
	.row[data-tablet-columns="1"] > * { flex: 0 0 100%;  max-width: 100%; }
	.row[data-tablet-columns="2"] > * { flex: 0 0 50%;  max-width: 50%; }
	.row[data-tablet-columns="3"] > * { flex: 0 0 33.333333%;  max-width: 33.333333%; }
	.row[data-tablet-columns="4"] > * { flex: 0 0 25%;  max-width: 25%; }
	.row[data-tablet-columns="5"] > * { flex: 0 0 20%;  max-width: 20%; }
	.row[data-tablet-columns="6"] > * { flex: 0 0 16.666667%;  max-width: 16.666667%; }
	.row[data-tablet-columns="7"] > * { flex: 0 0 14.285714%;  max-width: 14.285714%; }
	.row[data-tablet-columns="8"] > * { flex: 0 0 12.5%;  max-width: 12.5%; }
	.row[data-tablet-columns="9"] > * { flex: 0 0 11.111111%;  max-width: 11.111111%; }
	.row[data-tablet-columns="10"] > * { flex: 0 0 10%;  max-width: 100%; }
	.row[data-tablet-columns="11"] > * { flex: 0 0 100%;  max-width: 10%; }
	.row[data-tablet-columns="12"] > * { flex: 0 0 8.333333%;  max-width: 8.333333%; }
}

@media( max-width: 768px ){

	.row[data-mobile-columns="1"] > * { flex: 0 0 100%;  max-width: 100%; }
	.row[data-mobile-columns="2"] > * { flex: 0 0 50%;  max-width: 50%; }
	.row[data-mobile-columns="3"] > * { flex: 0 0 33.333333%;  max-width: 33.333333%; }
	.row[data-mobile-columns="4"] > * { flex: 0 0 25%;  max-width: 25%; }
	.row[data-mobile-columns="5"] > * { flex: 0 0 20%;  max-width: 20%; }
	.row[data-mobile-columns="6"] > * { flex: 0 0 16.666667%;  max-width: 16.666667%; }
	.row[data-mobile-columns="7"] > * { flex: 0 0 14.285714%;  max-width: 14.285714%; }
	.row[data-mobile-columns="8"] > * { flex: 0 0 12.5%;  max-width: 12.5%; }
	.row[data-mobile-columns="9"] > * { flex: 0 0 11.111111%;  max-width: 11.111111%; }
	.row[data-mobile-columns="10"] > * { flex: 0 0 10%;  max-width: 100%; }
	.row[data-mobile-columns="11"] > * { flex: 0 0 100%;  max-width: 10%; }
	.row[data-mobile-columns="12"] > * { flex: 0 0 8.333333%;  max-width: 8.333333%; }
}


/* 그리드 수정 */
.row2{
	display: grid;
	gap: var(--gap, 1rem);
	grid-template-columns: repeat(12, 1fr);
}
.row2:has(.col){ grid-template-columns: repeat(auto-fit, minmax(8%, 1fr)); }
.row2 > .col1{ grid-column: span 1; }
.row2 > .col2{ grid-column: span 2; }
.row2 > .col3{ grid-column: span 3; }
.row2 > .col4{ grid-column: span 4; }
.row2 > .col5{ grid-column: span 5; }
.row2 > .col6{ grid-column: span 6; }
.row2 > .col7{ grid-column: span 7; }
.row2 > .col8{ grid-column: span 8; }
.row2 > .col9{ grid-column: span 9; }
.row2 > .col10{ grid-column: span 10; }
.row2 > .col11{ grid-column: span 11; }
.row2 > .col12{ grid-column: span 12; }




.grid{
	display: grid;
	gap: var(--gap, 2rem);
	grid-template-columns: repeat(12, 1fr);
}

.grid > .col1{ grid-column: span 1; }
.grid > .col2{ grid-column: span 2; }
.grid > .col3{ grid-column: span 3; }
.grid > .col4{ grid-column: span 4; }
.grid > .col5{ grid-column: span 5; }
.grid > .col6{ grid-column: span 6; }
.grid > .col7{ grid-column: span 7; }
.grid > .col8{ grid-column: span 8; }
.grid > .col9{ grid-column: span 9; }
.grid > .col10{ grid-column: span 10; }
.grid > .col11{ grid-column: span 11; }
.grid > .col12{ grid-column: span 12; }

.grid > .rowSpan1{ grid-row: span 1; }
.grid > .rowSpan2{ grid-row: span 2; }

@media( max-width: 1024px ){
	.grid[data-tablet-columns="2"] > *:not(.col12) { grid-column: span 6;	}	

}
@media( max-width: 768px ){
	.grid[data-mobile-columns="1"] > *:not(.col12) { grid-column: span 12;	}	

}